# dependencies
node_modules

# next
.next
out

# firebase
.firebase
.firebaserc

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-server*.log

# system
.DS_Store
Thumbs.db
